html,
body,
:root {
  height: 100%;
  --color-primary: #11100f;
  --color-secondary: #272727;
  --color-body: #ffffff0e;
  --color-border: #2d2d2d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
